.browse-page{
    padding: 2rem;
}

.searchbar{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem; 
}

.searchbar input{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    padding: .25rem .5rem;
    border-radius: .5rem;
    border: 1px solid gray;
    margin-right: .5rem;
}

.searchbar button{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    padding: .25rem .5rem;
    border-radius: .5rem;
    border: 1px solid gray;
    cursor: pointer;
    opacity: 1;
}

.searchbar button:hover{
    border: 1px solid black;
}

.result{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}